.card{
	padding: 10px;
    border: 2px white solid;
    border-radius: 15px;
}

.card h1, .card h2, .card h3{
    margin: 0px;
}

.row-details{
	display: flex;
    flex-direction: row;
    align-items: center;
}


.card .circle {
    border: 5px solid green;
    border-radius: 50%; 
	width: 60px; 
    height: 60px;
    display: flex; 
    justify-content: center;
    align-items: center; 
    position: relative; 
	font-size: 24px; 
    font-weight: bold; 
}


.card th {
    font-weight: unset;
    text-align: left;
    width: 80px;
}

.card td {
    text-align: right;
    width: 70px;
}

.card tr {
    border-bottom: 2px solid white;
}