.card{
	padding: 20px;
    margin: 10px;
    border-radius: 15px;
    width: 350px;
    min-height: 180px;
    /* border: 2px white solid; */

    background-color: rgba(0, 0, 0, 0.414);

    transition: 0.8s ease-in-out !important;
    
}

.card * {
    transition: 0.8s ease-in-out !important;
}

.card h1, .card h2, .card h3{
    margin: 0px;
    font-weight: unset;
}

.card h1 {
    font-size: 26px;
    margin-bottom: 10px;
}

.row-details{
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;

    width: 100%;
}

.card .column {
    width: 100%;
    margin: 10px;
}

.card table {
    width: 60%;
}

.card th {
    font-weight: unset;
    text-align: left;
}

.card td {
    text-align: right;
}

.card tr {
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid white !important;
    margin-bottom: 6px;
}

.card td, .card th, .card tr {
    font-size: 14px;
}

/* Icon */
.card .material-symbols-rounded {
    width: 100px;
    height: 100px;
    font-size: 100px;
    padding: 10px;
}


p{
    margin: 10px;
    text-align: center;
}