.card{
	padding: 20px;
	margin: 10px;
	border-radius: 15px;
	width: 350px;
	min-height: 180px;
	/* border: 2px white solid; */

	background-color: var(--bg1);
	transition: 0.4s ease-in-out !important;
	
}

.card * {
	transition: 0.4s ease-in-out !important;
}

.card h1, .card h2, .card h3{
	margin: 0px;
	font-weight: unset;
}

.card h1 {
	font-size: 26px;
	margin-bottom: 10px;
}

.row-details{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content:space-evenly;

	width: 100%;
}

.card .column {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 10px;
}

.card table {
	width: 60%;
}

.card th {
	font-weight: unset;
	text-align: left;
}

.card td {
	text-align: right;
}

.card tr {
	display:flex;
	justify-content: space-between;
	border-bottom: 1px solid white !important;
	margin-bottom: 6px;
}

.card td, .card th, .card tr {
	font-size: 14px;
}

/* Icon */
.card .material-symbols-rounded {
	width: 100px;
	height: 100px;
	font-size: 100px;
	padding: 10px;
}


p{
	margin: 10px;
	text-align: center;
}

.netcard {
	min-height: unset;
	width: 300px;
}

.netcard table {
	width: 100%;
}

.net-header{
	display:flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	margin-bottom: 5px;
}

.net-header h1{
	margin: 0px;
	font-size: 22px;
	display:flex;
	align-items: center;
}

.subheader {
	display: flex;
	justify-content: center;
	color: rgba(255, 255, 255, 0.383);
	
	width: 100%;
	margin-bottom: 10px;
}

.divline {
	width: 100%;
	background-color: white;
	height: 1px;
}

.block {
	height: 50px;
	width: 70px;
	margin: 10px 5px;

	display: flex;
	align-items: center;
	justify-content: center;
}

h4 {
	font-size: 14px;
	margin: 0px 0px 6px 0px;
	font-weight: unset;
}

.netcontainer, #netadapterContainer{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.portblock{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-color: var(--bg1);
	border-radius: 15px;

	padding: 15px;
	margin: 5px;
	width: 70px;
	height: 70px;
}

.portblock h1, .portblock h2, .portblock h3, .portblock h4{
	margin: 5px 0px 5px 0px;
}

.portblock h2 {
	font-size: 22px;
}

.adaptercard {
	width: 190px;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
}

.adaptercard p {
	height: 45px;
    display: flex;
    align-items: center;
}

.adaptercard img{
	height: 80px;
	width: 80px;
	margin: 10px;
}

.adaptercard table{
	width: 100%;
}