.dashboard-header-card {
	display: flex;
	flex: 1;
	justify-content: space-between;
	align-items: center;
	background: var(--cardbg);
	padding: 15px 20px;
	border-radius: 10px;
	color: #fff;
	min-height: 120px;
	margin: 10px;
}

.header-left {
	display: flex;
	align-items: center;
}

.header-text {
	display: flex;
	flex-direction: column;
}

.header-title {
	font-size: 26px;
	font-family:"rajdhani", system-ui, Arial sans-serif;
	font-weight: 600;
	letter-spacing: 1px;
}

.header-subtext {
	font-size: 16px;
	color: #cccccc;
}

.header-right {
	text-align: right;
}

.uptime-label {
	font-size: 16px;
	color: #fff;
}
