.side-nav{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;

	height: 90%;
	width: 230px;
	padding: 10px 15px;
	margin: 20px;
	border-radius: 15px;


	background-color: rgba(0, 0, 0, 0.348);
}

.side-nav a{
	text-decoration: none;
	color: unset;

	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */

	margin: 5px;
	padding: 10px;
	width: 150px;
	border-radius: 5px;

	font-size: 14px;

	transition: 0.2s ease-in-out;
}

.side-nav a:hover{
	background-color: rgba(240, 248, 255, 0.511);
}

#logo {
	font-family: Courier, monospace;
	/* margin: 0px 0px 60px 0px; */
}


.side-nav .top{
	display: flex;
	justify-content: center;
    align-items: center;

	height: 30%;
	
	
}

.side-nav .mid {
	display: flex;
	flex-direction: column;
	
	height: 80%;
}

.side-nav .bottom {
	display: flex;
	align-items: flex-end;
    justify-content: center;
	
	height: 30%;
}

