.side-nav{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;

	width: 260px;
	padding: 10px 15px;
	margin: 30px;
	border-radius: 15px;


	background: var(--sidenavbg);
}




.side-nav a{
	text-decoration: none;
	color: unset;

	font-family:"rajdhani", system-ui, Arial sans-serif;
	font-weight: 500;

	background-color: var(--sidenava);

	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;

	display: flex;
	align-items:center;

	margin: 5px;
	padding: 10px;
	border-radius: 5px;

	font-size: 14px;

	transition: 0.2s ease-in-out;
}

.side-nav a img {
	height:30px;
	width: 30px;
	margin-right: 7px;
}

#logo {
	font-family:"rajdhani", system-ui, Arial sans-serif;
	font-weight: 100;
	font-size: 28px;

	display: flex;
	flex-direction: row;
	justify-content: center;
}


.side-nav .top{
	display: flex;
	justify-content: center;
	align-items: center;

	height: 30%;
}

.side-nav .mid {
	display: flex;
	flex-direction: column;
	
	height: 80%;
}

.side-nav .bottom {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	
	height: 30%;
}

