html {
	height: 100%;
}

:root {
	--yellow:       #EEC471;
	--lightpurple:  #6e5f9d;
	--purple:       #3b3353;
	--darkblue:     #0d1321;
	--navy:         #1D2D44;
	--blue:         #284B63;
	--lightblue:    #A9E4EF;

	--mainbg:       var(--darkblue);
	
	--sidenavbg:    transparent;
	--sidenava:     transparent;
	--sidenavahov:  var(--blue);

	--portbg:       var(--blue);
	--cardbg:       var(--navy);
	--selectbg:     var(--blue);
	--selectbghov:  var(--blue);

	--buttonfill:   var(--purple);
	--buttonhov:    var(--purple);

	--infofill:     var(--lightblue);
	--infoempty:    var(--blue);
	--infoon:       var(--blue);
	--infooff:      var(--blue);

	--star-color:   rgba(255, 255, 255, 0.8);
	--glow-color:   #284B6373;
}

.card, .dashboard-header-card {
	box-shadow: 0 0 20px var(--glow-color);
}


body{
	margin:0px;
	height: 100%;
	font-family:"Poppins";

	background: radial-gradient(ellipse at bottom, #0d1321 0%, #000000 100%);
	background-attachment: fixed;
	color: white;
	overflow-x: hidden;
	position: relative;
}

.button {
	border-radius:5px;
	margin: 20px;
	padding: 10px;
	width: 150px;
	background-color: var(--buttonfill);
	transition: 0.2s ease-in-out;
	font-size: 16px;
	display: flex;
	justify-content: center;

	border:none;
	color: white;

	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

.button:hover {
	background-color: var(--buttonhov);
}
.row{
	display: flex;
	flex-direction: row;
}

.column{
	display:flex;
	flex-direction: column;
}

.content{
	margin: 20px;
}

.header {
	color: gray;
	font-weight: 200;
	font-size: 14px;
	margin-top: 20px;
}

.pageHeader {
	font-weight: 100;
	letter-spacing: 5px;
	font-size: 24px;
	color: rgba(255, 255, 255, 0.552);
}

#mainDiv {
	width: 100%;
}


#diskContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	width: 100%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



.blur{
	background-image: radial-gradient(circle at center center, rgba(59, 62, 58, 0.375),rgba(8, 8, 8, 0.432));
	
	background-size: 200% 200%;
	animation: gradient 10s ease infinite;

	/* filter: blur(10px); */
	backdrop-filter: blur(10px);
	width: 100%;
	height: 100%;
	position:absolute;
	z-index: -10;
}

#loadingScreen {
	width: 70%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	position:fixed;
	z-index: 100;

	transition: 0.8s ease-in-out;
}
