html {
	height: 100%;
}

body{
	margin:0px;
	height: 100%;

	background-image: radial-gradient(circle at center center, transparent,rgb(33,33,33)),repeating-linear-gradient(135deg, rgb(33,33,33) 0px, rgb(33,33,33) 2px,transparent 2px, transparent 10px,rgb(33,33,33) 10px, rgb(33,33,33) 11px,transparent 11px, transparent 21px),repeating-linear-gradient(45deg, rgb(47,47,47) 0px, rgb(47,47,47) 4px,transparent 4px, transparent 8px),linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33));

	color:white;

	font-family:system-ui;
}

.button {
	border-radius:5px;
	margin: 20px;
	padding: 10px;
	width: 150px;
	background-color: rgba(240, 248, 255, 0.109);
	transition: 0.2s ease-in-out;
	font-size: 16px;
	display: flex;
	justify-content: center;

	border:none;
	color: white;

	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

.button:hover {
	background-color: rgba(240, 248, 255, 0.297);
}
.row{
	display: flex;
	flex-direction: row;
}

.column{
	display:flex;
	flex-direction: column;
}

.content{
	margin: 20px;
}

.header {
	color: gray;
	font-weight: 200;
	font-size: 14px;
	margin-top: 20px;
}

.pageHeader {
	font-weight: 100;
	letter-spacing: 5px;
	font-size: 24px;
	color: rgba(255, 255, 255, 0.552);
}

#mainDiv {
	width: 100%;
}


#diskContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	width: 100%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



.blur{
	background-image: radial-gradient(circle at center center, rgba(59, 62, 58, 0.375),rgba(8, 8, 8, 0.432));
	
	background-size: 200% 200%;
	animation: gradient 10s ease infinite;

	/* filter: blur(10px); */
	backdrop-filter: blur(10px);
	width: 100%;
	height: 100%;
	position:absolute;
	z-index: -10;
}

#loadingScreen {
	width: 70%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	position:fixed;
	z-index: 100;

	transition: 0.8s ease-in-out;
}
